@import "tailwindcss";
@plugin "daisyui";

::-webkit-scrollbar {
    display: none !important;
}

/* For Firefox */
* {
    scrollbar-width: none !important;
}

/* For Edge/IE */
* {
    -ms-overflow-style: none !important;
}